/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
fuel/app/tokens/*
!fuel/app/tokens/.gitkeep
/fuel/app/logs/*
/fuel/app/logs/*/*
/fuel/app/logs/*/*/*
!fuel/app/logs/.gitkeep
/fuel/app/cache/*/*
!fuel/app/cache/.gitkeep
fuel/app/tmp/*
!fuel/app/tmp/.gitkeep
htdocs/files/*
!htdocs/files/.gitkeep
htdocs/images/*
!htdocs/images/.gitkeep
htdocs/assets/cache/*
!htdocs/assets/cache/.gitkeep
htdocs/tmp/
sql/backups
_phpstorm_autocomplete.php
/README.html
/logs/
/logs/*